* {
	margin: 0px;
	padding: 0px;
}

/* Estilos para el formulario de contacto INICIO*/
body.CuerpoContacto {
	 background-image: url(../images/catboop.gif),url(../images/catboop.gif);
	 background-size: 52% 200%, 52% 200%;
 	 background-repeat: no-repeat;
 	 background-position: left top, right top;
	 font-size: 69%;
}

#formularioID {
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 100px;
	font-weight: 600;
	font-family: 'Courier New';
}

#ContactID{
	color: #6600cc;
	text-align: center; 
}

#Parrafo1{
	margin: 4px;
	color: #000000;
	text-align: center;
}

#div1 > .linksdecontacto > ul {
	list-style: none;
}

#div1 > .linksdecontacto a:link,#div1 > .linksdecontacto a:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 180%;
	color:#00ff00;
	display:block;
	margin-left: 100px;
	width: 200px;
	font-weight: 700;
	background-color: #6600cc;
	text-align: center;
	border: 3px solid #00ff00;
	margin-bottom: 3px;
	border-radius: 50%;
}

#div1 > .linksdecontacto a:hover,#div1 > .linksdecontacto a:active {
	border: 3px solid #6600cc;
	color:#6600cc;
	background-color:#00ff00;
}

#Parrafo2 {
	color: #000000;
	font-weight: 600;
	font-family: 'Courier New';
}

input[type=text] {
  	border-color: #ffffff;
  	width: 96%;
 	border-style: none;
  	border-width: 0px;
  	padding: 6px 10px;
  	margin: 0px 0;
  	border-radius: 6px;
}

input[type=text]:hover,input[type=text]:focus {
  	background-color: #99ffff;
  	border-width: 0px;
}

input::placeholder {
	font-family: 'Courier New';
}

fieldset {
	background-color: #ffccff;
	width: 100%;
	padding: 20px;
	border-radius: 12%;
	border: 9px solid #666699;
}

hr {
	border-color: #666699;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	border-color: #ffffff;
	border-width: 2px;
	border-radius: 6px;
	width: 97%;
	height: 75px;
	padding: 6px 6px;
	margin-bottom: 5px;
}

.boton {
	color: #ffffff;
	font-size: xx-large;
	width: 101%;
	text-align: center;
	background: #cc00cc;
	border-color:#cc00cc;
	border-radius: 5px;
	cursor: pointer;
	padding: 6px 6px;
	margin-bottom: 3px; 
}

.CuerpoContacto footer {
  position: absolute;
  bottom: 0;
  font-size: large;
  font-family: fantasy;
  width: 100%;
}

/* Estilos para el formulario de contacto FIN*/

/*Inicio de codigo fabrizio*/
.cuerpo{
	background-image:url("../images/violet.gif");
	
}
.titulo{
	background:#04f89a;
	text-align:center;
	margin-top:100px;
    margin:auto;
    margin-top:20px;
	padding:10px;
	width:789px;
}
.Td{
	 padding:9px;	
}
.dia{
    background-color:#a2e873;
}
.filas{
	background-color:#fff7a3;
	padding:9px;	
}
.tabla{
	border-collapse:collapse;
	margin:10px 225px 10px 240px;
	outline: 5px #ffffff solid;
}
.pie_de_pagina{
	font-family:italy;
	background-color:#04f89a;
	text-align:center;
	padding:5px;
	margin:auto;
	width:800px;
	font-family:impact;
	
	}
.paseo{
	width:230px;
	height:230px;
	margin-left:500px;
}

/*FIn de codigo fabrizio*/



/*index -Irene*/
/*Esta clase ".H1" la use tanto para el encabezado del index como el del sucursales -Irene*/
.H1{
    line-height: 200%;
    font-family: Georgia;
    font-size:40px;
}
.BodyIndex{
    background-image: url(../images/giphy.gif);
    }
 /*Esta clase ".Encabezado" la use tanto para el encabezado del index como el del sucursales -Irene*/
.Encabezado{
	background-color:#e6c6ff;
	width:700px;
    margin:auto;
    margin-bottom:20px;
    text-align:center;
    outline: 1px White solid ;
      } 
/*Esta clase ".Links" la use tanto en el index como en el Productos -Siomara*/
.Links{
	border:50px;
	text-align:center;
   }  
 /*Esta clase ".Links li" la use en el index como en Productos -Siomara*/  
.Links li{
	padding:10px;
	display: inline;
    font-size:16px;
    font-family:cursive;
    outline: 4px ridge rgba(170, 50, 220, .6);
    border-radius: 1rem;
    background-color:#e6c6ff;
     }
/*Esta clase ".A" la use tanto en el index como en el Productos -Siomara*/
.A:link, .A:visited {
    text-decoration: none;
    color:black;
                   }
   
.H2{
	outline: 1px White solid ;
	font-size:30px;
    text-align:center;
	background-color:#e6c6ff;
	width:700px;
    margin:auto;
	
} 
.H3{
	font-family:cursive;
	background-color:#e6c6ff;
    text-align:center;
    margin:auto;
    min-width:500px;
    width:700px;
    margin:auto;
    outline: 1px White solid ;
}  
.H5{
	outline: 1px White solid ;
    font-size:20px;
    font-family:Georgia;
    background-color:#e6c6ff;
    width:700px;
    margin:auto;
}  
   
.Sectionindex{
	outline: 1px White solid ;
    width:700px;
    margin:auto;
	margin-top:20px;
	text-align:center;
	background-color:#e6c6ff;
}
.Articles{
    font-size:20px;
}
.Evento{
	text-align:center;	
}
.Img{
	width: 300px;
    height: 300px;
}
/*Esta clase ".Parrafo" la use tanto para el encabezado del index como el del sucursales -Irene*/
.Parrafo{
    width:700px;
    margin:auto;
    text-align:center;	
    background-color:#e6c6ff;
}
/*Fin index -Irene*/
/*Inicio Sucursales -Irene*/

.BodySucursales{
    background-image: url(../images/giphy.gif);
    }

.Div{
	text-align:center;
	background-color: #e6c6ff;
	width: 700px;
    margin: auto;
    outline: 1px White solid ;
    }
.TituloFinal{
	outline: 1px White solid ;
	width:700px;
    margin:auto;
	text-align:center;
	background-color:#e6c6ff;
	font-size:40px;
	}
.ImgS{
	height: 50px;
}
.ImgP{
	height:300px;
}
.ImgFinal{
	width:200px;
    height: 200px;
    margin-left:875px;
    margin-right:875px;
    }

/*Fin sucursales -irene*/


/*parte productos - css - siomara*/	
	.fondo{
		background-image: url(../images/giphy.gif);
	}
	
	.img{
		width: 350px;
		height:450px;
	}
		
	.img5{
		width: 280px;
		height: 290px;
		
	}
		
	.img2{
		width: 250px;
		height:350px;		
	}
		
	.img3{
		width: 250px;
		height:250px;		
	}
		
	.img4{
		width: 360px;
		height:320px;		
	}
	
/* cuerpo general */
	
	.divp, .sention1p, .section2p, .section3p, .section4p, .section5p, .section6p, .section7p, .section8p, .section9p{
		text-align: center;
		width: 70%;
		background-color: white;
		margin-left:auto;
		margin-right:auto;
	}

	
	.georgia{
		font-family: Georgia;
		padding:auto;
		text-shadow: 1px 1px white, -1px -1px #333;
		text-align:center;
	}
	
	.copp{
		text-align:center;
		color: #642742;
	}
	
/* menu principal */

	
	hr{
		height:4px;
		margin-left:25%;
		margin-right:25%;	
		background-color: #d5afb4;
	}

	
	.georgia0{
		text-align:center;
		font-family: Georgia;
		padding:auto;
		text-shadow: 1px 1px black, -1px -1px #333;
		color: #e6c6ff;
	}
	
	.section0p, .optionmenu{
		text-align: center;
		
	}
	
	.Links{
	border:50px;
	text-align:center;
    }   
     
	.Links li{
	padding:10px;
	display: inline;
    font-size:16px;
    font-family:cursive;
    outline: 4px ridge rgba(170, 50, 220, .6);
    border-radius: 1rem;
    background-color:#e6c6ff;
    }

	.A:link, .A:visited {
    text-decoration: none;
    color:black;
                   }
	
	/* fin parte productos - css - siomara*/