* {
	margin: 0px;
	padding: 0px;
}

/* Estilos para el formulario de contacto INICIO*/
body.CuerpoContacto {
	 background-image: url(../images/catboop.gif),url(../images/catboop.gif);
	 background-size: 52% 200%, 52% 200%;
 	 background-repeat: no-repeat;
 	 background-position: left top, right top;
	 font-size: 69%;
}

#formularioID {
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 100px;
	font-weight: 600;
	font-family: 'Courier New';
}

#ContactID{
	color: #6600cc;
	text-align: center; 
}

#Parrafo1{
	margin: 4px;
	color: #000000;
	text-align: center;
}

#div1 > .linksdecontacto > ul {
	list-style: none;
}

#div1 > .linksdecontacto a:link,#div1 > .linksdecontacto a:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 180%;
	color:#00ff00;
	display:block;
	margin-left: 100px;
	width: 200px;
	font-weight: 700;
	background-color: #6600cc;
	text-align: center;
	border: 3px solid #00ff00;
	margin-bottom: 3px;
	border-radius: 50%;
}

#div1 > .linksdecontacto a:hover,#div1 > .linksdecontacto a:active {
	border: 3px solid #6600cc;
	color:#6600cc;
	background-color:#00ff00;
}

#Parrafo2 {
	color: #000000;
	font-weight: 600;
	font-family: 'Courier New';
}

input[type=text] {
  	border-color: #ffffff;
  	width: 96%;
 	border-style: none;
  	border-width: 0px;
  	padding: 6px 10px;
  	margin: 0px 0;
  	border-radius: 6px;
}

input[type=text]:hover,input[type=text]:focus {
  	background-color: #99ffff;
  	border-width: 0px;
}

input::placeholder {
	font-family: 'Courier New';
}

fieldset {
	background-color: #ffccff;
	width: 100%;
	padding: 20px;
	border-radius: 12%;
	border: 9px solid #666699;
}

hr {
	border-color: #666699;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	border-color: #ffffff;
	border-width: 2px;
	border-radius: 6px;
	width: 97%;
	height: 75px;
	padding: 6px 6px;
	margin-bottom: 5px;
}

.boton {
	color: #ffffff;
	font-size: xx-large;
	width: 101%;
	text-align: center;
	background: #cc00cc;
	border-color:#cc00cc;
	border-radius: 5px;
	cursor: pointer;
	padding: 6px 6px;
	margin-bottom: 3px; 
}

.CuerpoContacto footer {
  position: absolute;
  bottom: 0;
  font-size: large;
  font-family: fantasy;
  width: 100%;
}

/* Estilos para el formulario de contacto FIN*/

/*Inicio de codigo fabrizio*/
.cuerpo{
	background-image:url("../images/violet.gif");
	
}
.titulo{
	background:#04f89a;
	text-align:center;
	margin-top:100px;
    margin:auto;
    margin-top:20px;
	padding:10px;
	width:789px;
}
tr,td{
	 padding:9px;	
}
.dia{
    background-color:#a2e873;
}
.filas{
	background-color:#fff7a3;
}
.tabla{
	border-collapse:collapse;
	margin:10px 225px 10px 240px;
	outline: 5px #ffffff solid;
}
.pie_de_pagina{
	font-family:italy;
	background-color:#04f89a;
	text-align:center;
	padding:5px;
	margin:auto;
	width:800px;
	font-family:impact;
	
	}
.paseo{
	width:230px;
	height:230px;
	margin-left:500px;
}

/*FIn de codigo fabrizio*/