<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
		<title>Consejos</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
	<div id="Intro">
		<header class="IniCon"><h1>El cuidado de una mascota</h1></header>
			<img alt="Intro" src="../static/images/MascotaTitle.jpg" width="700" height="400">
				<h3> Sin importar si eres papá o mamá perruna o gatuna, como responsable de tus mascotas siempre buscarás hacer 
				todo para cuidar de ellas. Esta tarea implica algunas actividades diarias regulares para garantizar que se mantengan 
				felices y saludables.
				Llevar una nueva mascota al hogar puede ser tan intimidante como emocionante. Incluso si anteriormente tuviste 
				algún peludito en casa, esta decisión puede dar lugar a muchas preguntas. <br>

				Por esta razón, te tenemos diez consejos esenciales para el cuidado responsable de las mascotas. De seguro te 
				garantizará tener en casa una compañía feliz y saludable.
				</h3>
	</div>

	<div id="Puntos">
		<div id="Cont">
		<h2> 1) Visitas al veterinario </h2> 
			
			<img alt="Veterinario" src="../static/images/Mascota1.jpg" width="700" height="400">
				<h4> Tener una mascota de manera responsable comienza con visitas regulares al veterinario. Dada su esperanza de 
				vida, tu perrito o mínimo deberían hacerse un chequeo una o dos veces al año. Pero el establecer y mantener la 
				buena salud de tu mascota significa mantenerse al día con las visitas al veterinario a medida que envejecen. </h4>

	<p><strong>Consejo clave:</strong> antes de salir camino hacia el veterinario, sácalos de paseo. Esto se hace para que no 
		asocien entrar al carro con ir al veterinario.</p>
		</div>

		<div id="Cont">
		<h2> 2) Entorno saludable y agradable </h2> 
			<img alt="Entorno" src="../static/images/Mascota2.jpg" width="700" height="400">
				<h4>Así como los seres humanos necesitamos un hogar en el que podamos sentirnos cómodos y seguros, también lo 
				necesitan nuestras mascotas.</h4>

	<p><strong>Consejo clave:</strong> las mascotas que son demasiado jóvenes o ya tienen varios años encima pierden su capacidad 
		para regular la temperatura corporal eficientemente. Es importante ofrecerles una manta y una cama que les proporcione 
		confort y calor. Sobre todo en las horas de la noche.</p>
		</div>

		<div id="Cont">
		<h2> 3) Su nutrición </h2> 
			<img alt="Nutrición" src="../static/images/Mascota3.jpg" width="700" height="400">
				<h4>Todos los organismos vivos necesitan alimento para sobrevivir. Lamentablemente, muchas mascotas sufren de 
				obesidad y otros problemas metabólicos por mala alimentación. Lo que más adelante se puede derivar en otros 
				problemas de salud.
				<br>
				Si bien existe un debate sobre qué comida canina es más apropiada, hay un consenso al respecto. Todos necesitan 
				un buen equilibrio de proteínas, grasas saludables, carbohidratos y mucha agua (Pets, 2021). Estos deben 
				administrarse en las cantidades adecuadas y también en sus proporciones correctas.</h4>

	<p><strong>Consejo clave:</strong> selecciona una fórmula de alimento para mascotas que sea apropiada para su edad, sus 
		condiciones de salud y el nivel de actividad de tu mascota.</p>
		</div>

		<div id="Cont">
		<h2> 4) Esterilizar</h2>
			<img alt="Esterilización" src="../static/images/Mascota4.jpg" width="700" height="400">
				<h4>Esterilizar a tu mascota evita una serie de problemas de salud (ASPCA, s.f.), incluídos embarazos complicados 
				y ayuda a la reducción de animales sin hogar. Debido a que la esterilización o castración es una cirugía que 
				requiere anestesia general, es probable que tu mascota pase la noche en el consultorio del veterinario. Esto, durante 
				al menos una noche para observación y recuperación.</h4>

	<p><strong>Consejo clave:</strong> trata de practicar este procedimiento en una edad temprana para tu peludito. De esta manera 
		su recuperación y su proceso de cicatrización será rápida.</p>
		</div>

		<div id="Cont">
		<h2> 5) Vacunar </h2>
			<img alt="Vacunación" src="../static/images/Mascota5.jpg" width="700" height="400">
				<h4>Poco después de llegar a tu hogar, la primera salida debe ser al veterinario. Acto seguido se establecerá un 
				calendario de vacunación para tu pequeño cachorro o gatito. Esto, con el objetivo de protegerlos de enfermedades 
				como la rabia o el moquillo en el caso de los perros. Los gatos también se benefician de las vacunas que previenen 
				el virus del herpes felino, la leucemia felina y la rabia.</h4>

	<p><strong>Consejo clave:</strong> si adoptaste una mascota en edad avanzada, asegúrate de que también esté protegido. Las 
		vacunas necesitan renovación y no son solo para mascotas jóvenes.</p>
		</div>

		<div id="Cont">
		<h2> 6) Entrenar </h2>
			<img alt="Entrenamiento" src="../static/images/Mascota6.jpg" width="700" height="400">
				<h4>Uno de los aspectos más importantes del cuidado responsable de las mascotas es asegurarse de que tu perro o gato 
				tenga un entrenamiento adecuado. Enseñarles a ir al baño es la prioridad número uno. Al igual que trabajar en el 
				entrenamiento de órdenes mínimas de obediencia. Una mascota bien entrenada es una mascota feliz, y eso se traduce 
				en un padre feliz.</h4>

	<p><strong>Consejo clave:</strong> el entrenamiento basado en recompensas arroja excelentes resultados. Puedes incluir algunos 
		snacks que ayuden a reforzar su comportamiento positivo.</p>
		</div>

		<div id="Cont">
		<h2> 7) Juguetes </h2>
			<img alt="Entretenimiento" src="../static/images/Mascota7.jpg" width="700" height="400">
				<h4>Desecha y reemplaza los juguetes que estén gastados. Los juguetes chillones pueden proporcionar mucho 
				entretenimiento para tu perro. Es importante que el dispositivo que proporciona el sonido no se pueda arrancar del 
				juguete. Este objeto puede ser ingerido fácilmente, causando que termines por visitar el veterinario. Asimismo, no 
				olvides eliminar los juguetes con partes sueltas que puedan presentar peligro de asfixia y bordes duros o afilados 
				que podrían causar lesiones.</h4>

	<p><strong>Consejo clave:</strong> Evita los juguetes demasiado pequeños, estos pueden tragarse fácilmente o alojarse en la 
		garganta. Los juguetes de peluche son buenos para varios propósitos. En ocasiones suelen ser de gran utilidad para 
		incluirlos como recompensa en un esquema de entrenamiento; sin embargo, estos deben utilizarse con precaución.</p>
		</div>

		<div id="Cont">
		<h2> 8) Higienizar </h2>
			<img alt="Higienización" src="../static/images/Mascota8.jpg" width="700" height="400">
				<h4>Las patas de tu mascota son una de las partes más vulnerables de su cuerpo. Si no se cuidan adecuadamente, pueden 
				agrietarse, lesionarse o sangrar fácilmente. Lo que provoca una gran incomodidad y dificultad para caminar. 
				Igualmente, se encuentran expuestos a bacterias presentes en los desechos de otras mascotas que no son vacunadas o 
				purgadas regularmente.</h4>

	<p><strong>Consejo clave:</strong> puedes utilizar para esta tarea pañitos húmedos especiales para mascotas sin alcohol. De 
		igual manera te recomendamos usar agua y un champú especial para su piel y pelaje.</p>
		</div>

		<div id="Cont">
		<h2> 9) Lavado bucal </h2>
			<img alt="Salud Bucal" src="../static/images/Mascota9.jpg" width="700" height="400" >
				<h4>Al igual que las personas, tus mascotas pueden sufrir al no tener una limpieza dental regular. Para esta tarea 
				puedes usar cepillos de dientes y crema dental especiales para mascotas. Cepillar sus dientes con regularidad es la 
				forma principal de eliminar la placa suave, antes de que se convierta en cálculo mineralizado. El hábito de limpiar 
				los dientes evita cosas tales como el mal aliento, al tiempo que ayuda a prevenir otras enfermedades (Pets, 2021).</h4>

	<p><strong>Consejo clave:</strong> a falta de una cita de profilaxis regular, puedes proporcionarles golosinas y juguetes 
		dentales que ayudarán de manera preventiva y de mantenimiento con esta tarea.</p>
		</div>

		<div id="Cont">
		<h2> 10) Cariño </h2>
			<img alt="Protección" src="../static/images/Mascota10.jpg" width="700" height="400">
				<h4>Sabemos que está de más decirlo. Sin embargo, no sobra para nada recordarte cómo todas las mascotas realmente 
				quieren que las acaricien sin tregua. Les encanta el cariño, la calidez y las sonrisas. Dale especial atención a tu 
				mascota y ellos le brindarán en retorno a tu familia un amor incondicional que solo una mascota puede entregar.</h4>

	<p><strong>Consejo clave:</strong> prestarles atención y jugar con ellos cada vez que puedas, suma puntos extra en su corazón.</p>
		</div>
	</div>

	<div id="Final">
		<h2> Conclusión FINAL:</h2>

			<h3>Como dueños de mascotas, todos queremos lo mejor para nuestros peludos. Es importante para todos los padres de 
			mascotas que obtengan todo lo que necesitan para la crianza de animalitos felices y saludables. Como consejo final te 
			recomendamos considerar un seguro para mascotas que logre cubrir el riesgo financiero de que tu mascota se lastime o 
			se enferme. 
			<br>
			Finalmente, tener animales de compañía es una de las mejores decisiones que puedes tomar. Anímate y revisa la opción de 
			adoptar, de esta manera estarás realizando una acción solidaria que sirve para reducir el abandono animal. Al tener un 
			peludito en tu vida, puedes descubrir tu pasión por los animales. De seguro terminarás por convertirte en un cuidador 
			genial de los miembros más divertidos y amorosos en una familia.</h3>
	</div>

 	<footer class="FinCon">Copyright 2023 - PetShop - Diseñado por Grupo 8 – Jujuy – República Argentina</footer>
</body>
</html>