<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="utf-8">
		<title>Formulario</title>
		</head>
		<body>
			<form style="width: 500px; height: 300px;" action="https://freecatphotoapp.com/submit-cat-photo">
			<fieldset>
			<h2>Contáctenos</h2>
			<div>3915 Av. General Belgrano, 388-4999999</div>
			<div>Lunes a Viernes: de 9:00 a.m. a 8 p.m.</div>
			<div>Sábado a Domingo: de 9:00 a.m. a 12:30 p.m.</div>
			<div><a href="contactos@mail.com.ar">contactos@mail.com.ar</a></div>
			<ul>
				<li><a href="https://www.facebook.com/">Facebook</a>
				<li><a href="https://twitter.com/">Twitter</a>
				<li><a href="https://www.instagram.com/">Instagram</a>
			</ul>	
				<hr>
				<p>Nombre <input name="nombrePersona" type="text" placeholder="Ingrese su nombre" required></p>
				<p>Email <input name="emailValido" type="text" placeholder="Ingrese un email válido" required></p>
				<p>Ciudad <input name="nombreCiudad" type="text" placeholder="Ingrese su ciudad" required></p>
				<p>Mensaje<textarea cols="48" rows="5"></textarea> </p>
				<button type="submit">Enviar</button>
			</fieldset>
			</form>
		</body>
</html>