<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1">
     <tr>
      <td>Dia</td>
      <td>Lunes</td>
      <td>Martes</td>
      <td>Miercoles</td>
      <td>Jueves</td>
      <td>Viernes</td>
      <td>Sabado</td>
      </tr>
      
      <tr>
        <td>Horarios</td>
        <td>9 a 12 - 16 a 18</td>
         <td>9 a 12 - 16 a 18</td>
          <td>9 a 12 - 16 a 18</td>
           <td>9 a 12 - 16 a 18</td>
             <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
      </tr>
     
      <tr>
         <td>Paseador</td>
         <td>Juan Perez</td>
          <td>Lucas Diaz</td>
           <td>Juan Perez</td>
            <td>Maria Gomez</td>
             <td>Lucas Diaz</td>
              <td>Roberto Vazquez</td>
      </tr>
   
   </table>
    <footer>
     <p> &copy; Copyrigth 2023-PetsShop-Diseñado por Grupo8-Jujuy-Republica Argentina</p> 
   </footer>
</body>
</html>