<!DOCTYPE html>
<html>
<head>
<title>PetShop</title>
</head>
<body>
  <header>
     <h1>BIENVENIDOS A PETSHOP</h1>
     <img src="../static/images/portada.jpg" alt="Animales" title="Animales">
  </header>
  <nav>
  	 <ul>
  	    <li><a href="index.html"> Inicio</a></li>
  	 	<li><a href="productos.html"> Productos</a></li>
  	 	<li><a href="Consejos.html"> Consejos de salud</a></li>
  	 	<li><a href="servicios.html"> Servicio de paseos</a></li>
  	 	<li><a href="Sucursales.html"> Sucursales</a></li>
  	 	<li><a href="Contacto.html"> Contáctanos</a></li> 
  	 </ul>
  </nav>
  <section>
      <h2><strong>¡SOBRE NOSOTROS!</strong></h2>
      <article>Venta de productos de calidad importados y nacionales.</article>
      <article>Contamos con paseadores profesionales con conocimientos en el rubro aptos para cualquier circunstancias.</article>
      <article>Consejeria sanitaria para tus mascotas.</article>
      <article>Servicio al cliente de calidad.</article>
  </section>
  <aside> 
      <img src="../static/images/paseo.jpg" title="">
      <h2>Servicios de entrenamiento para PERROS</h2>
      <h3>Algunos de nuestros canes ganadores de la competencia "Dog competition edición 3"</h3>
      <h5><strong>TOBY</strong></h5>
      <img src="../static/images/entrenamiento1.jpg" alt="Perro" >
      <h5><strong>FRAN</strong></h5>
      <img src="../static/images/entrenamiento2.jpg" alt="Perro" >
      <h5><strong>ESTRELLA</strong></h5>
      <img src="../static/images/entrenamiento3.jpg" alt="Perro" >
  </aside>
  <footer>
  	  <p>Copyright 2023 - PetShop - Diseñado por Grupo 8 – Jujuy – República Argentina</p>
  </footer>


</body>
</html>