<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title>PetShop</title>
<link rel="stylesheet" href="../static/css/estilos.css"/>
</head>
<body class="BodyIndex">
  <header class="Encabezado">
     <h1 class="H1">~ BIENVENIDOS A PETSHOP ~</h1>
     <img src="../static/images/portada.jpg" alt="Animales" title="Animales">
  </header>
  <nav class="Links">
  	 <ul>
  	    <li><a class="A" href="index.html"> Inicio</a></li>
  	 	<li><a class="A" href="productos.html"> Productos</a></li>
  	 	<li><a class="A" href="Consejos.html"> Consejos de salud</a></li>
  	 	<li><a class="A" href="Servicio.html"> Servicio de paseos</a></li>
  	 	<li><a class="A" href="Sucursales.html"> Sucursales</a></li>
  	 	<li><a class="A" href="Contacto.html"> Contáctanos</a></li> 
  	 </ul>
  </nav>
  <section class="Sectionindex">
      <h2 class="H2"><strong>¡SOBRE NOSOTROS!</strong></h2>
      <hr>
      <article class="Articles">°- Venta de productos de calidad importados y nacionales.</article>
      <article class="Articles">°- Contamos con paseadores profesionales con conocimientos en el rubro aptos para cualquier circunstancias.</article>
      <article class="Articles">°- Consejeria sanitaria para tus mascotas.</article>
      <article class="Articles">°- Servicio al cliente de calidad.</article>
  </section>
  <aside class="Evento"> 
      <img src="../static/images/paseo.jpg" title="">
      <h2 class="H2">-Servicios de "entrenamiento" para PERROS-</h2>
      <h3 class="H3">Algunos de nuestros canes ganadores de la competencia "Dog competition edición 3"</h3>
          <h5 class="H5"><strong>TOBY</strong></h5>
          <img class="Img" src="../static/images/entrenamiento1.jpg" alt="Perro" >
          <h5 class="H5"><strong>ESTRELLA</strong></h5>
          <img class="Img" src="../static/images/entrenamiento2.jpg" alt="Perro" >
          <h5 class="H5"><strong>JEFF</strong></h5>
          <img class="Img" src="../static/images/entrenamiento3.jpg" alt="Perro" >
      
  </aside>
  <footer>
  	  <p class="Parrafo">Copyright 2023 - PetShop - Diseñado por Grupo 8 – Jujuy – República Argentina</p>
  </footer>


</body>
</html>