<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/estilos.css"/>
<title>Productos para Mascotas</title>

<body class="fondo">
<br>

 <figure>
 <section class="section0p">
 <div>
  <br>
  <h2 class="georgia0">Lista de Productos</h2>
  <br>
  <ul class="Links">
	<li class="txt"><a href="#section1p" >Camas</a></li>
	<li class="txt"><a href="#section2p" >Rascadores</a></li>
	<li class="txt"><a href="#section3p" >Transportadores</a></li>
	<li class="txt"><a href="#section4p" >Ropa</a>
	<li class="txt"><a href="#section5p" >Juguetes Interactivos</a></li>
	<br>
	<br>
	<br>
	<li class="txt"><a href="#section6p" >Piedras Aglutinantes</a></li>
	<li class="txt"><a href="#section7p" >Bowls</a></li>
	<li class="txt"><a href="#section8p" >Correas y Arneses</a></li>
	<li class="txt"><a href="#section9p" >Otros accesorios</a></li>
  </ul>
	<br>
	<br>
 </div>
 </section>
 </figure>

<br>

 <figure>
 <section id="section1p" class="section1p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de producto: Camas</h3>
  <br>
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas tengan su propio espacio de comodidad
  	 <br>cuando se trata de su descanso:
     <br>
  	 <br><strong>Marcas en orden:</strong> 
  	 <br>COCOONING: <em>Nogal (1), Leonard Colchoneta (2), Fleece Folchoneta (3), Amancay Soft (4)</em>
  	 <br>
  	 <br><strong>Medidas:</strong>
  	 <br>S<em>(mascotas pequeñas)</em>, M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em>
  	 <br>
  	 <br><strong>Colores:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precios únicos p/medida:</strong>
  	 <br> (1): S=<em>$3,200.00</em> M=<em>$6,300.00</em> L=<em>$9,200.00</em>
  	 <br> (2): S=<em>$3,200.00</em> M=<em>$6,300.00</em> L=<em>$9,200.00</em>
  	 <br> (3): S=<em>$4,500.00</em> M=<em>$8,400.00</em> L=<em>$11,200.00</em>
  	 <br> (4): S=<em>$8,300.00</em> M=<em>$12,500.00</em> L=<em>$16,200.00</em>
  	 <br>
  	 <br>
  	 <br>
  	 <br>
  	 <br>
    <p class="copp">1</p>
    <img alt="camas1" src="../static/images/camas (6).jpg" class="img">
	<img alt="camas2" src="../static/images/camas (5).jpg" class="img">
	<br>
	<p class="copp">2</p>
 	<img alt="camas3" src="../static/images/camas (4).jpg" class="img">
 	<img alt="camas4" src="../static/images/camas (3).jpg" class="img">
 	<br>
 	<p class="copp">3</p>
 	<img alt="camas5" src="../static/images/camas (7).jpg" class="img">
 	<img alt="camas6" src="../static/images/camas (8).jpg" class="img">
 	<br>
 	<p class="copp">4</p>
 	<img alt="camas7" src="../static/images/camas (1).jpg" class="img">
 	<img alt="camas8" src="../static/images/camas (2).jpg" class="img">

 </div>
 </section>
 </figure>
 
<br>

 <figure>
 <section id="section2p" class="section2p">
  <h3 class="georgia">Tipo de porducto: Rascadores</h3>
  <br>
  <div class="divp">
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder proporcionar a nuestras mascotas una correcta atención
  	 <br>a una más de sus necesidades como lo es ayudarlos a liberar estrés y relajarlos:
	 <br>
  	 <br><strong>Marcas en orden:
  	 <br></strong> <em>Nermal, TopCat, Lazlo</em>
  	 <br>
  	 <br><strong>Medidas:</strong>
  	 <br><em>Largo:</em>50cm <em> Ancho:</em>19cm <em> Alto:</em>5cm
  	 <br>
  	 <br><strong>Modelos únicos:</strong>
  	 <br>Los presentados abajo.
  	 <br><strong>Precio único:</strong>
  	 <br><em>$3500</em>
 	 <br>
 </div>
     <br>
     <br>
    <img alt="rasc1" src="../static/images/rascad (3).jpg">
    <img alt="rasc2" src="../static/images/rascad (2).jpg">
    <img alt="rasc3" src="../static/images/rascad (1).jpg">
 </section>
 </figure>
 
<br>

 <figure>
 <section id="section3p" class="section3p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de producto: Transportadores</h3>
  <br>

  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder proporcionar a nuestras mascotas la posibilidad
  	 <br>de viajar a la par nuestra en cada aventura:
  	 <br>
  	 <br><strong>Marcas en orden:</strong>
  	 <br><em>Cloud 9 (1), Combo Eva 5-in1 Stroller (2), Foldable Pet Travel (3),</em>
  	 <br><em>Gentle Gigant (4), Ellis Long Carrier (5), Explorer Airliner (6), Collapsible Traveling Hand (7)</em>
  	 <br>
  	 <br><strong>Medidas y peso límite permitido:</strong>
  	  <br>   (1): Largo:35cm Ancho:57cm Alto:55cm Peso:20kg.
  	  <br>   (2): Largo:91cm Ancho:95cm Alto:47cm Peso:10kg.
  	  <br>   (3): Largo:44cm Ancho:26cm Alto:27cm Peso:6kg.
  	  <br>   (4): Largo:35cm Ancho:50cm Alto:46cm Peso:27kg.
  	  <br>   (5): Largo:45cm Ancho:25cm Alto:27cm Peso:6kg.
  	  <br>   (6): Largo:40cm Ancho:25cm Alto:30cm Peso:8kg.
  	  <br>   (7): Largo:46cm Ancho:36cm Alto:30cm Peso:6kg.
  	 <br>
  	 <br><strong>Modelos únicos:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precios:</strong>
  	   <br>(1)= <em>$84,250.00</em>
  	   <br>(2)= <em>$90,450.00</em>
  	   <br>(3)= <em>$34,250.00</em>
  	   <br>(4)= <em>$88,500.00</em>
  	   <br>(5)= <em>$22,520.00</em>
  	   <br>(6)= <em>$37,890.00</em>
  	   <br>(7)= <em>$35,780.00</em>
  	 <br>
	 <br>
	 <br>
  	<p class="copp">1</p>
    <img alt="transp1" src="../static/images/transport (4).jpg">
    <img alt="transp2" src="../static/images/transport (5).jpg">
    <br>
    <p class="copp">2</p>
    <img alt="transp3" src="../static/images/transport (2).jpg">
    <img alt="transp4" src="../static/images/transport (3).jpg">
    <br>
    <p class="copp">3</p>
    <img alt="transp5" src="../static/images/transport (11).jpg">
    <br>
    <p class="copp">4</p>
    <img alt="transp6" src="../static/images/transport (6).jpg">
    <img alt="transp7" src="../static/images/transport (7).jpg">
    <br>
    <p class="copp">5</p>
    <img alt="transp8" src="../static/images/transport (10).jpg">
    <br>
    <p class="copp">6</p>
    <img alt="transp9" src="../static/images/transport (1).jpg">
    <img alt="transp10" src="../static/images/transport (12).jpg">
    <br>
    <p class="copp">7</p>
    <img alt="transp11" src="../static/images/transport (8).jpg">
    <img alt="transp12" src="../static/images/transport (9).jpg">
  
 </div>
 </section>
 </figure>
 
 <br>
 
 <figure>
 <section id="section4p" class="section4p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de Producto: Ropa</h3>

  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas también tengan una variedad de conjuntos
  	 <br>que vestir con estilo:
  	 <br>
  	 <br><strong>Medidas:</strong>
  	 <br>S<em>(mascotas pequeñas)</em>, M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em>
  	 <br>Cada prenda cuenta con las medidad S, M y L.
  	 <br>
  	 <br><strong>Modelos:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precios únicos p/medidas:</strong>
  	 <br>S=<em>$4000</em> M=<em>$8000</em> L=<em>$12000</em>
  	 <br>
  
 </div>
 	 <br>
 	 <br>
  <img alt="ropa1" src="../static/images/ropaspet (1).png">
  <img alt="ropa2" src="../static/images/ropaspet (2).png">
  <img alt="ropa3" src="../static/images/ropaspet (3).png">
  <img alt="ropa4" src="../static/images/ropaspet (4).png">
  <img alt="ropa5" src="../static/images/ropaspet (5).png">
  <img alt="ropa6" src="../static/images/ropaspet (6).png">

 </section>
 </figure>
 
<br>

  <figure>
 <section id="section5p" class="section5p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de Producto: Juguetes Interactivos</h3>
  <br>
      
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas cuenten con nuevos juguetes
  	 <br>para su entretenimiento:
     <br>
  	 <br><strong>Modelos:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precio único:</strong>
  	 <br>$2000
  	 <br>

   </div>
  	 <br>
  	 <br>
  <img alt="juguete1" src="../static/images/jugue (3).jpg">
  <img alt="juguete2" src="../static/images/jugue (2).jpg">
  <img alt="juguete7" src="../static/images/jugue (4).jpg">  
  <img alt="juguete3" src="../static/images/jugue (1).jpg">
  <img alt="juguete4" src="../static/images/jugue (6).jpg">
  <img alt="juguete5" src="../static/images/jugue (5).jpg">
  <img alt="juguete6" src="../static/images/jugue (7).jpg">
  <img alt="juguete8" src="../static/images/jugue (8).jpg">
  <img alt="juguete9" src="../static/images/jugue (9).jpg">
  <img alt="juguete10" src="../static/images/jugue (10).jpg">
  <img alt="juguete11" src="../static/images/jugue (11).jpg">
  <img alt="juguete12" src="../static/images/jugue (12).jpg"> 
  
 </section>
 </figure>
 
<br>

  <figure>
 <section id="section6p" class="section6p">
  <div class="divp">
  <h3 class="georgia">Tipo de Producto: Piedras Aglutinantes</h3>
  <br>

  	 Productos para gatos, un absorbente sanitario natural, libre de humedad y polvo.
  	 <br>Neutraliza rápidamente los olores de las heces y la orina:
  	 <br>
  	 <br><strong>Marcas en orden:</strong>
  	 <br><em>OdourLock, EcoLife, </em>
  	 <br>
  	 <br><strong>Tamaños Paquetes:</strong>
  	 <br>4,5kg, 10kg, 12kg.
  	 <br>
  	 <br><strong>Precios:</strong>
  	 <br> 4,5kg=$5,420.00 
  	 <br> 10kg=$7,680.00
  	 <br> 12kg=$8,500.00
  	 <br>
  
  <img alt="pagl1" src="../static/images/PHOTO.jpg" >
  <img alt="pagl3" src="../static/images/PHOTO2.jpg" class="img5">
 
 </div>
 </section>
 </figure>
 
 <br>
 
  <figure>
 <section id="section7p" class="section7p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de Producto: Bowls</h3>
  <br>

  	 Contamos con diferentes modelos de bowls para la alimentación e hidratación
  	 <br>del día a día de nuestras mascotas:
  	 <br>
  	 <br><strong>Marcas en orden:</strong>
  	 <BR><em>Quick Bite Collapsible travel (1), Hunter Silicone Fold (2),</em>
  	 <br><em>Hunter Melamine Fold (3), Keleido Good Manners (4)</em>
  	 <BR>
  	 <br><strong>Modelos únicos:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precios:</strong>
  	 <br>(1)=<em>$1200</em>
  	 <br>(2)=<em>$3500</em>
  	 <br>(3)=<em>$2600</em>
  	 <br>(4)=<em>$2800</em>
  	 <br>
  	 <br>
  	 <br>
  
  <p class="copp">1</p>
  <img alt="bowl1" src="../static/images/BOWLS (1).jpg">
  <img alt="bowl2" src="../static/images/BOWLS (2).jpg">
  <br>
  <p class="copp">2</p>
  <img alt="bowl3" src="../static/images/BOWLS (3).jpg">
  <img alt="bowl4" src="../static/images/BOWLS (4).jpg">
  <br>
  <p class="copp">3</p>
  <img alt="bowl5" src="../static/images/BOWLS (5).jpg">
  <img alt="bowl6" src="../static/images/BOWLS (6).jpg">
  <br>
  <p class="copp">4</p>
  <img alt="bowl6" src="../static/images/BOWLS (7).jpg">
  <img alt="bowl7" src="../static/images/BOWLS (8).jpg">
 
 </div>
 </section>
 </figure>
 
 <br>

  <figure>
 <section id="section8p" class="section8p">
  <div class="divp"> 
  <h3 class="georgia">Tipo de Producto: Correas y Arneses</h3>
  <br>

  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder cuidar a nuestras mascostas de manera responsable:
     <br>
  	 <br><strong>Marcas en orden:</strong>
  	 <br><em>Paul Belt&Leash (1), Red Ding (2), Jogging Belt Leash (3)</em>
  	 <br>
  	 <br><strong>Medidas:</strong>
  	 <br>M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em>
  	 <br>
  	 <br><strong>Modelos únicos:</strong>
  	 <br><em>Los presentados abajo.</em>
  	 <br>
  	 <br><strong>Precios:</strong>
  	 <br> (1): M=<em>$1,200.00</em> L=<em>$2,200.00</em>
  	 <br> (2): M=<em>$3,200.00</em> L=<em>$4,200.00</em>
  	 <br> (3): M=<em>$5,700.00</em> L=<em>$6,700.00</em> 
  	 <br>
  	 <br>
  	 <br>
  <p class="copp">1</p>
  <img alt="CA1" src="../static/images/arneses uno.jpg">
  <img alt="CA2" src="../static/images/arneses dos.jpg">
  <br>
  <p class="copp">2</p>
  <img alt="CA3" src="../static/images/arneses tres.png" class="img3">
  <img alt="CA4" src="../static/images/arneses cuatro.png" class="img3">
  <br>
  <p class="copp">3</p>
  <img alt="CA5" src="../static/images/arneses cinco.jpg">
  <img alt="CA6" src="../static/images/arneses seis.jpg">
  <br>
 
 </div>
 </section>
 </figure>

 <br>
 
  <figure>
  <section id="section9p" class="section9p">
  <div class="divp"> 
  <h3 class="georgia">Otros Accesorios:</h3>
  <br>
  
  	 Contamos con otros artículos no menos importantes que son indispansables para
  	 <br>complementar los cuidados diarios de nuestros compañeros-mascotas:
     <br>
  	 <br><strong>Marcas en orden:</strong>
  	 <br><em>Poop Bag Hilo Mesh (1), Cepillos Mascotas (2), Contenedores Yummy(3),
  	 <br>Cocooning Manta Nacal (4),Cocooning Removedor de Pelo (5)</em>
  	 <br>
  	 <br><strong>Modelos únicos:</strong>
  	 <br>Los presentados abajo.
  	 <br>
  	 <br><strong>Precios únicos:</strong>
  	 <br>(1)= <em>$1400</em>
  	 <br>(2)= <em>$2500</em>
  	 <br>(3)= <em>$6600</em>
  	 <br>(4)= <em>$4500</em>
  	 <br>(5)= <em>$2500</em>
  	 <br>
  		
  </div> 
  
     <br>
     <br>
     <br>
     
  <p class="copp">1</p>
  <img alt="OC1" src="../static/images/accesorio (1).jpg">
  <img alt="OC2" src="../static/images/accesorio (2).jpg">
  <br>
  <p class="copp">2</p>
  <img alt="OC3" src="../static/images/accesorio (6).png" class="img2">
  <img alt="OC4" src="../static/images/accesorio (7).png" class="img2">
  <br>
  <p class="copp">3</p>
  <img alt="OC5" src="../static/images/accesorio (3).jpg">
  <img alt="OC6" src="../static/images/accesorio (4).jpg">
  <br>
  <p class="copp">4</p>
  <img alt="OC8" src="../static/images/accesorio (8).png">
  <img alt="OC9" src="../static/images/accesorio (9).png">
  <br>
  <p class="copp">5</p>
  <img alt="OC10" src="../static/images/accesorio (10).jpg">
  <img alt="OC11" src="../static/images/accesorio (11).jpg">
 
 </section>
 </figure>
 <br>
 <br>
 <footer>
 <p class="copp">Copyright 2023 - PetShop - Diseñado por Grupo 8 – Jujuy – República Argentina</p>
 </footer>
</head>
</body>
</html>