<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Productos para Mascotas</title>
	<style>
		.img{
			width: 350px;
			height:450px;
		}
		
		.img2{
			width: 250px;
			height:350px;		
		}
		
		.img3{
			width: 250px;
			height:250px;		
		}
		
		.img4{
			width: 360px;
			height:320px;		
		}
	</style>
<body>


 <figure>
 <section>
  <h3>Lista de Productos:</h3>
   <ul>
	<li><a href="#section1">Camas</a></li>
	<li><a href="#section2">Rascadores</a></li>
	<li><a href="#section3">Transportadores</a></li>
		<ul>
		 <li> Mochilas</li>
	     <li> Blouses</li>
	     <li> Strollers</li>
	    </ul>
	<li><a href="#section4">Ropa</a></li>
	<li><a href="#section5">Juguetes Interactivos</a></li>
	<li><a href="#section6">Piedras Aglutinantes</a></li>
	<li><a href="#section7">Bowls</a></li>
	<li><a href="#section8">Correas y Arneses</a></li>
	<li><a href="#section9">Otros accesorios</a></li>
	   <ul>
	    <li> Mantas</li>
	    <li> Cepillos</li>
	    <li> Contenedores de Comida</li>
	    <li> Removedor de Pelos</li>
	    <li> Poop Bag</li>
	   </ul>
   </ul>
 </section>
 </figure>

<br>
<br>
<br>
<br>
 <figure>
 <section id="section1">
  <h4>Tipo de producto: Camas</h4>
  <div>
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas tengan su propio espacio de comodidad
  	 <br>cuando se trata de su descanso:
    <ul>
  	 <br><li>Marcas en orden: COCOONING: <em>Nogal (1), Leonard Colchoneta (2), Fleece Folchoneta (3), Amancay Soft (4)</em></li>
  	 <br><li>Medidas: S<em>(mascotas pequeñas)</em>, M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em></li>
  	 <br><li>Colores: Los presentados abajo.</li>
  	 <br><li>Precios únicos p/medida: 
  	 <br> (1): S=<em>$3,200.00</em> M=<em>$6,300.00</em> L=<em>$9,200.00</em>
  	 <br> (2): S=<em>$3,200.00</em> M=<em>$6,300.00</em> L=<em>$9,200.00</em>
  	 <br> (3): S=<em>$4,500.00</em> M=<em>$8,400.00</em> L=<em>$11,200.00</em>
  	 <br> (4): S=<em>$8,300.00</em> M=<em>$12,500.00</em> L=<em>$16,200.00</em></li>
  	 
  	</ul>	 
  </div>
    1
    <img alt="camas1" src="file:///C:/Users/siove/Downloads/leonard-fleece-ddl-costado-300x174.jpg" class="img">
	<img alt="camas2" src="file:///C:/Users/siove/Downloads/leonard-fleece-verde-costado-300x186.jpg" class="img">
	<br>
	2
 	<img alt="camas3" src="file:///C:/Users/siove/Downloads/leonard-gris-costado-300x174.jpg" class="img">
 	<img alt="camas4" src="file:///C:/Users/siove/Downloads/leonard-vison-costado-300x183.jpg" class="img">
 	<br>
 	3
 	<img alt="camas5" src="file:///C:/Users/siove/Downloads/nogal-4jpg-300x134%20(1).jpg" class="img">
 	<img alt="camas6" src="file:///C:/Users/siove/Downloads/nogal-6-300x114.jpg" class="img">
 	<br>
 	4
 	<img alt="camas7" src="file:///C:/Users/siove/Downloads/amancay-soft-mustang-3-300x127.jpg" class="img">
 	<img alt="camas8" src="file:///C:/Users/siove/Downloads/amancay-soft-nickel-1-300x124.jpg" class="img">

 </section>
 </figure>

 <figure>
 <section id="section2">
  <h4>Tipo de porducto: Rascadores</h4>
  <div>
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder proporcionar a nuestras mascotas una correcta atención
  	 <br>a una más de sus necesidades como lo es ayudarlos a liberar estrés y relajarlos:
    <ul>
  	 <br><li>Marcas en orden: <em>Nermal, TopCat, Lazlo</em></li>
  	 <br><li>Medidas: <em> Largo:</em>50cm <em> Ancho:</em>19cm <em> Alto:</em>5cm</li>
  	 <br><li>Modelos únicos: Los presentados abajo.</li>
  	 <br><li>Precio único: <em>$3500</em></li>
  	
    </ul> 	 
  </div>

    <img alt="rasc1" src="file:///C:/Users/siove/Downloads/11774-1-300x107.jpg">
    <img alt="rasc2" src="file:///C:/Users/siove/Downloads/11776-300x104.jpg">
    <img alt="rasc3" src="file:///C:/Users/siove/Downloads/11779-2-300x109.jpg">

 </section>
 </figure>

 <figure>
 <section id="section3">
  <h4>Tipo de producto: Transportadores</h4>
  <div>
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder proporcionar a nuestras mascotas la posibilidad
  	 <br>de viajar a la par nuestra en cada aventura:
    <ul>
  	 <br><li>Marcas en orden: <em>Cloud 9 (1), Combo Eva 5-in1 Stroller (2), Foldable Pet Travel (3),</em>
  	 <br><em>Gentle Gigant (4), Ellis Long Carrier (5), Explorer Airliner (6), Collapsible Traveling Hand (7)</em></li>
  	 <br><li>Medidas y peso límite permitido: 
  	  <br>   (1): Largo:35cm Ancho:57cm Alto:55cm Peso:20kg.
  	  <br>   (2): Largo:91cm Ancho:95cm Alto:47cm Peso:10kg.
  	  <br>   (3): Largo:44cm Ancho:26cm Alto:27cm Peso:6kg.
  	  <br>   (4): Largo:35cm Ancho:50cm Alto:46cm Peso:27kg.
  	  <br>   (5): Largo:45cm Ancho:25cm Alto:27cm Peso:6kg.
  	  <br>   (6): Largo:40cm Ancho:25cm Alto:30cm Peso:8kg.
  	  <br>   (7): Largo:46cm Ancho:36cm Alto:30cm Peso:6kg.
  	 <br>
  	 <br><li>Modelos únicos: Los presentados abajo.</li>
  	 <br><li>Precios:
  	   <br>(1)= <em>$84,250.00</em>
  	   <br>(2)= <em>$90,450.00</em>
  	   <br>(3)= <em>$34,250.00</em>
  	   <br>(4)= <em>$88,500.00</em>
  	   <br>(5)= <em>$22,520.00</em>
  	   <br>(6)= <em>$37,890.00</em>
  	   <br>(7)= <em>$35,780.00</em>

    </ul>
  </div>
  	1
    <img alt="transp1" src="file:///C:/Users/siove/Downloads/01_FS2010-G_45degre_web-300x300.jpg">
    <img alt="transp2" src="file:///C:/Users/siove/Downloads/01_FS2010-Y_45degre_web-300x300.jpg">
    <br>
    2
    <img alt="transp3" src="file:///C:/Users/siove/Downloads/01-5-300x300.jpg">
    <img alt="transp4" src="file:///C:/Users/siove/Downloads/01-6-300x300.jpg">
    <br>
    3
    <img alt="transp5" src="file:///C:/Users/siove/Downloads/01_web_FC1702_SU_45degree_1000-1-300x300.jpg">
    <br>
    4
    <img alt="transp6" src="file:///C:/Users/siove/Downloads/01_web_FS1880_AG_45degree_1000-300x300.jpg">
    <img alt="transp7" src="file:///C:/Users/siove/Downloads/FS1880-P_dog-stroller_01-300x300.jpg">
    <br>
    5
    <img alt="transp8" src="file:///C:/Users/siove/Downloads/2-1-e1667827880862-300x262.jpg">
    <br>
    6
    <img alt="transp9" src="file:///C:/Users/siove/Downloads/02_web_FS1752L-BG_back_1000-e1653868105235-300x282.jpg">
    <img alt="transp10" src="file:///C:/Users/siove/Downloads/12252-1-300x254.jpg">
    <br>
    7
    <img alt="transp11" src="file:///C:/Users/siove/Downloads/12202-1-300x275.jpg">
    <img alt="transp12" src="file:///C:/Users/siove/Downloads/12203-1-300x283.jpg">
   
 </section>
 </figure>
 
 <br>
 
 <figure>
 <section id="section4">
  <h4>Tipo de Producto: Ropa</h4>
  <div>
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas también tengan una variedad de conjuntos
  	 <br>que vestir con estilo:
    <ul>
  	 <br><li>Medidas: S<em>(mascotas pequeñas)</em>, M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em>
  	 <br>Cada prenda cuenta con las medidad S, M y L.</li>
  	 <br><li>Modelos: Los presentados abajo.</li>
  	 <br><li>Precios únicos p/medidas: S=<em>$4000</em> M=<em>$8000</em> L=<em>$12000</em></li>
  	</ul>
  	 
  </div>
  
  <img alt="ropa1" src="file:///C:/Users/siove/Downloads/1682053668164.png">
  <img alt="ropa2" src="file:///C:/Users/siove/Downloads/1682053719145.png">
  <img alt="ropa3" src="file:///C:/Users/siove/Downloads/1682053835454.png">
  <img alt="ropa4" src="file:///C:/Users/siove/Downloads/1682053901450.png">
  <img alt="ropa5" src="file:///C:/Users/siove/Downloads/1682053925536.png">
  <img alt="ropa6" src="file:///C:/Users/siove/Downloads/1682053941090.png">
 
 </section>
 </figure>
 
  <figure>
 <section id="section5">
  <h4>Tipo de Producto: Juguetes Interactivos</h4>
    <div>
      
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de que nuestras mascotas cuenten con nuevos juguetes
  	 <br>para su entretenimiento:
    <ul>
  	 <br><li>Modelos: Los presentados abajo.</li>
  	 <br><li>Precio único: $2000
  	</ul>
  	 
   </div>
  
  <img alt="juguete1" src="file:///C:/Users/siove/Downloads/HUNTER_15987_67457_001_19-lpr-300x452.jpg">
  <img alt="juguete2" src="file:///C:/Users/siove/Downloads/HUNTER_15989_67458_001_19-lpr-300x452.jpg">
  <img alt="juguete3" src="file:///C:/Users/siove/Downloads/HUNTER_17025_67719_001_19-lpr-300x200.jpg">
  <img alt="juguete4" src="file:///C:/Users/siove/Downloads/HUNTER_17027_67723_001_19-lpr-300x200.jpg">
  <img alt="juguete5" src="file:///C:/Users/siove/Downloads/HUNTER_17046_67737_001_19-lpr-300x450.jpg">
  <img alt="juguete6" src="file:///C:/Users/siove/Downloads/HUNTER_17075_67937_001_19-lpr-2-300x200.jpg">
  <img alt="juguete7" src="file:///C:/Users/siove/Downloads/HUNTER_17076_67938_001_19-lpr-1-300x200.jpg">
  <img alt="juguete8" src="file:///C:/Users/siove/Downloads/HUNTER_17081_67932_001_19-lpr-300x200.jpg">
  <img alt="juguete9" src="file:///C:/Users/siove/Downloads/HUNTER_17082_67933_001_19-lpr-300x200.jpg">
  <img alt="juguete10" src="file:///C:/Users/siove/Downloads/HUNTER_1948_98631_12-lpr-300x157.jpg">
  <img alt="juguete11" src="file:///C:/Users/siove/Downloads/HUNTER_2144_92334_14_001-lpr-300x300.jpg">
  <img alt="juguete12" src="file:///C:/Users/siove/Downloads/HUNTER_4608_92360_14_001_grau-lpr-1-300x300.jpg"> 
  
 </section>
 </figure>
 
  <figure>
 <section id="section6">
  <h4>Tipo de Producto: Piedras Aglutinantes</h4>
  <div>
  
  	 Productos para gatos, un absorbente sanitario natural, libre de humedad y polvo.
  	 <br>Neutraliza rápidamente los olores de las heces y la orina:
  	 <br>
    <ul>
  	 <br><li>Marcas en orden: <em>OdourLock, EcoLife, </em></li>
  	 <br><li>Tamaños Paquetes: 4,5kg, 10kg, 12kg.</li>
  	 <br><li>Precios:
  	 <br> 4,5kg=$5,420.00 
  	 <br> 10kg=$7,680.00
  	 <br> 12kg=$8,500.00</li>
  	
    </ul> 	 
  </div>
  
  <img alt="pagl1" src="file:///C:/Users/siove/Downloads/PHOTO.jpg">
  <img alt="pagl3" src="file:///C:/Users/siove/Downloads/PHOTO3.jpg">
 
 </section>
 </figure>
 <br>
 <br>
  <figure>
 <section id="section7">
  <h4>Tipo de Producto: Bowls</h4>
  <div>
  
  	 Contamos con diferentes modelos de bowls para la alimentación e hidratación
  	 <br>del día a día de nuestras mascotas:
  	 <br>
    <ul>
  	 <br><li>Marcas en orden: <em>Quick Bite Collapsible travel (1), Hunter Silicone Fold (2),</em>
  	 <br><em>Hunter Melamine Fold (3), Keleido Good Manners (4)</em></li>
  	 <br><li>Modelos únicos: Los presentados abajo.</li>
  	 <br><li>Precios: 
  	 <br>(1)=<em>$1200</em>
  	 <br>(2)=<em>$3500</em>
  	 <br>(3)=<em>$2600</em>
  	 <br>(4)=<em>$2800</em></li>
  	
    </ul> 	 
  </div>
  1
  <img alt="bowl1" src="file:///C:/Users/siove/Downloads/BOWLS%20(1).jpg">
  <img alt="bowl2" src="file:///C:/Users/siove/Downloads/BOWLS%20(2).jpg">
  <br>
  2
  <img alt="bowl3" src="file:///C:/Users/siove/Downloads/BOWLS%20(3).jpg">
  <img alt="bowl4" src="file:///C:/Users/siove/Downloads/BOWLS%20(4).jpg">
  <br>
  3
  <img alt="bowl5" src="file:///C:/Users/siove/Downloads/BOWLS%20(5).jpg">
  <img alt="bowl6" src="file:///C:/Users/siove/Downloads/BOWLS%20(6).jpg">
  <br>
  4
  <img alt="bowl6" src="file:///C:/Users/siove/Downloads/BOWLS%20(7).jpg">
  <img alt="bowl7" src="file:///C:/Users/siove/Downloads/BOWLS%20(8).jpg">
 
 </section>
 </figure>
 <br>
 <br>
  <figure>
 <section id="section8">
  <h4>Tipo de Producto: Correas y Arneses</h4>
  <div>
  
  	 Nuestros productos están elaborados bajo el concepto de calidad-precio 
  	 <br>con el propósito de poder cuidar a nuestras mascostas de manera responsable:
    <ul>
  	 <br><li>Marcas en orden: <em>Paul Belt&Leash (1), Red Ding (2), Jogging Belt Leash (3)</em></li>
  	 <br><li>Medidas: M<em>(mascotas medianas)</em> y L<em>(mascotas grandes)</em></li>
  	 <br><li>Modelos únicos: <em>Los presentados abajo.</em></li>
  	 <br><li>Precios:
  	 <br> (1): M=<em>$1,200.00</em> L=<em>$2,200.00</em>
  	 <br> (2): M=<em>$3,200.00</em> L=<em>$4,200.00</em>
  	 <br> (3): M=<em>$5,700.00</em> L=<em>$6,700.00</em></li> 
  	
    </ul> 	 
  </div>
  1
  <img alt="CA1" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(4).jpg">
  <img alt="CA2" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(1).jpg">
  <br>
  2
  <img alt="CA3" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(3).png" class="img3">
  <img alt="CA4" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(2).png" class="img3">
  <br>
  3
  <img alt="CA5" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(2).jpg">
  <img alt="CA6" src="file:///C:/Users/siove/Downloads/ARNESESCOM%20(3).jpg">
  <br>
 
 </section>
 </figure>
 <br>
 <br>
  <figure>
 <section id="section9">
  <h4>Otros Accesorios:</h4>
  <div>
  
  	 Contamos con otros artículos no menos importantes que son indispansables para
  	 <br>complementar los cuidados diarios de nuestros compañeros-mascotas:
    <ul>
  	 <br><li>Marcas en orden: <em>Poop Bag Hilo Mesh (1), Cepillos Mascotas (2), Contenedores Yummy(3),
  	 <br>Cocooning Manta Nacal (4),Cocooning Removedor de Pelo (5)</em></li>
  	 <br><li>Modelos únicos: Los presentados abajo.</li>
  	 <br><li>Precios únicos: 
  	 <br>(1)= <em>$1400</em>
  	 <br>(2)= <em>$2500</em>
  	 <br>(3)= <em>$6600</em>
  	 <br>(4)= <em>$4500</em>
  	 <br>(5)= <em>$2500</em></li>
  	
    </ul> 	 
  </div>
  1
  <img alt="OC1" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(2).jpg">
  <img alt="OC2" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(1).jpg">
  <br>
  2
  <img alt="OC3" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(1).png" class="img2">
  <img alt="OC4" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(2).png" class="img2">
  <br>
  3
  <img alt="OC5" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(4).jpg">
  <img alt="OC6" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(5).jpg">
  <img alt="OC7" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(3).jpg" class="img4">
  <br>
  4
  <img alt="OC8" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(3).png">
  <img alt="OC9" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(4).png">
  <br>
  5
  <img alt="OC10" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(8).jpg">
  <img alt="OC11" src="file:///C:/Users/siove/Downloads/OTROSACCESORIOS%20(7).jpg">
 
 </section>
 </figure>
 <br>
 <br>
 <footer>¡Consulta por nuestros métodos de cobro!</footer>
</head>
</body>
</html>