<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Servicio de paseos</title>
</head>
<body class="cuerpo">
<img class= "paseo" src="../static/images/salio.gif">
 <h1 class="titulo">HORARIOS DE PASEO</h1>
<table class="tabla" border="1">
     <tr class="dia">
      <td>Dia</td>
      <td>Lunes</td>
      <td>Martes</td>
      <td>Miercoles</td>
      <td>Jueves</td>
      <td>Viernes</td>
      <td>Sabado</td>
      </tr>
      
      <tr class="filas">
        <td  class="Td">Horarios</td>
        <td  class="Td">9 a 12 - 16 a 18</td>
         <td  class="Td">9 a 12 - 16 a 18</td>
          <td  class="Td">9 a 12 - 16 a 18</td>
           <td  class="Td">9 a 12 - 16 a 18</td>
             <td  class="Td">9 a 12 - 16 a 18</td>
              <td class="Td">9 a 12 - 16 a 18</td>
      </tr>
     
      <tr class="filas">
         <td  class="Td">Paseador</td>
         <td  class="Td">Juan Perez</td>
          <td  class="Td">Lucas Diaz</td>
           <td  class="Td">Juan Perez</td>
            <td  class="Td">Maria Gomez</td>
             <td  class="Td">Lucas Diaz</td>
              <td  class="Td">Roberto Vazquez</td>
      </tr>
   
   </table>
    <footer class="pie_de_pagina">
     <p> &copy; Copyrigth 2023-PetsShop-Diseñado por Grupo8-Jujuy-Republica Argentina</p> 
   </footer>
</body>
</html>