<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Sucursales</title>
</head>
<body>
   <header>
      <h1><strong>Nuestras sucursales</strong></h1>
      <img src="../static/images/Cachorro.jpg" alt="Cachorro">
   </header>
    <div>
      <img src="../static/images/Gatitoconlentes.jpg" alt="Gatito con lentes">
      <h3>Casa central - Calle Millar N°1234  1°er Piso, Jujuy</h3>
    </div>    
    <div>   
      <img src="../static/images/Gatitoconlentes.jpg" alt="Gatito con lentes">    
      <h3>Sucursal anexo - Av Corrientes N°500, Cordoba</h3>
    </div>
    <div>
      <img src="../static/images/Gatitoconlentes.jpg" alt="Gatito con lentes">
      <h3>Sucursal anexo - Pasaje Barro N°830, San Juan</h3>
    </div> 
      
    <div>
      <img src="../static/images/Gatitoconlentes.jpg" alt="Gatito con lentes">
      <h3>Scucural anexo - Calle Los Lapachos N°20, Tierra del Fuego</h3>
    </div> 
    <p>¡Gracias por visitarnos!</p>
    <img src="../static/images/Gatitogris.jpg" alt="Gatito gris">
  <footer>
  	  <p>Copyright 2023 - PetShop - Diseñado por Grupo 8 – Jujuy – República Argentina</p>
  </footer>

</body>
</html>